.main-container {
  max-width: 23.4375rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  .navbar ul li,
  .read-more-btn,
  .feature-info h2,
  .top-right h2 {
    transition: none;
    transition: opacity 0.1s linear;
  }
}

@media (min-width: 75rem) {
  .main-container {
    max-width: 73.75rem;
  }

  .container .top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
  }
}
